@import "./bootstrap/functions";
@import "./bootstrap/variables";

// NUOVE VARIABILI

$new-colors: (
  "success": #1db954,
);

$theme-colors: map-merge($theme-colors, $new-colors);

$more-position-values: (
  0: 0%,
  5: 5%,
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  30: 30%,
  35: 35%,
  40: 40%,
  45: 45%,
  60: 60%,
  65: 65%,
  70: 70%,
  75: 75%,
  80: 80%,
  85: 85%,
  90: 90%,
  95: 95%,
  110: 110%,
  120: 120%,
  130: 130%,
  140: 140%,
  150: 150%,
  160: 160%,
  170: 170%,
  180: 180%,
  190: 190%,
  200: 200%,
);

$position-values: map-merge($position-values, $more-position-values);

$more-spacers: (
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 8,
);

$spacers: map-merge($spacers, $more-spacers);

@import "./bootstrap/bootstrap.scss";

// ALTRE REGOLE

body {
  font-family: "Circular";
  max-height: 100vh;
}

.fa-chevron-circle-left,
.fa-chevron-circle-right {
  box-shadow: 0px 0px 0px 6px rgba(0, 0, 0) inset;
}

.nav-text {
  font-size: 0.8rem;
}

#main {
  box-sizing: border-box;
  height: 90vh;
  @media screen and (max-width: 767px) {
    height: 100vh;
  }
}

@media (max-width: 767px) {
  .hide-on-small {
    background: none !important;
    border: none !important;
  }
  .hide-on-small .d-flex {
    text-align: center;
    justify-content: center;
  }
  .hide-on-small img {
    width: 80px;
    border: 0;
    align-self: center;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
}

footer {
  box-sizing: border-box;
  height: 10vh;
}
/////////////// BARRA RIPRODUZIONE //////////////
.audio-player {
  display: flex;
  align-items: center;
  width: 50%;
  margin: auto;
}

.timer {
  width: 50px;
  text-align: center;
}

#play-pause {
  font-size: 2em;
}

.progress-bar {
  flex-grow: 2;
  height: 8px;
  background-color: #535353;
}

.progress-bar-inner {
  height: 100%;
  width: 50%; /* Cambiare questa percentuale per regolare la barra di progresso */
  background-color: white;
  animation: progress-animation linear infinite;
}

@keyframes progress-animation {
  to {
    width: 100%;
  }
}

////// clocca icone di destra/////
.volume-control {
  display: flex;
  align-items: center;
}

.fa-volume-low {
  margin-right: 4px; /* Aggiungi spazio tra l'icona e la barra del volume */
  font-size: 16px; /* Imposta la dimensione dell'icona */
}

.volume-bar {
  height: 4px; /* Altezza della barra del volume */
  width: 40px; /* Larghezza della barra del volume */
  background-color: #535353;
  position: relative;
}

.volume-bar-inner {
  height: 100%;
  width: 50%; /* Percentuale di volume attuale, puoi regolare questa percentuale */
  background-color: white;
}

.display-custom {
  font-size: 5rem;
  @media screen and (max-width: 1399px) {
    font-size: 4.5rem;
  }
  @media screen and (max-width: 1199px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 575px) {
    font-size: 2.5rem;
  }
}

.play-button {
  height: 48px;
  width: 48px;
}

.custom-badge {
  height: 20px;
  width: 20px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

#main-container {
  height: 350px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 212, 255, 0) 60%
  );
}

#artist-main {
  background-size: cover !important;
  background-position: center !important;
}

.btn-custom {
  border: none;
  background: none;
  border: 1px solid white;
  font-weight: 500;
}
